@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');/* Pertenece a los estilos del login y register */

a{
    margin-top: 17px;
    text-decoration: none;
    list-style-type:none;
}
.link{
    
    margin-left: 30px;
    margin-right: 30px;
    color: #ccc;
    font-size: 15px;
    letter-spacing: 1px
}
.active{
    
    border-bottom: 2px solid #fff;
}
.NavLink{
    margin-top: 35px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-right: 15px;
    text-decoration: none;
}
.OnOff{
    transition: 3.S;
    border: 2px  solid #c7c7c7;
    width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     margin-right: 26px;
     margin-left: 29px;
     background: red;
}
.Switch{
    display: flex;
    justify-content: flex-end;
}
header{
    position: fixed;
    display: flex;
    width: 100%;
    height:95px;
    background: transparent;
    justify-content: space-between;
    z-index: 1000;
}
.slider{
    background: url(../img/srb.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenLogo{
    width: 250px;
}
.sliders{
    height: 100px;
}
.text{
    font-family: 'Rye', cursive;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 10px yellow;
}
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 240px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:260px;
}


/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  margin-bottom: 0px;
}

footer a {
  color: #999;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
}
a:not([href]):not([tabindex]) {
    color: #ccc;;
}
.logoF{
    width: 60px;
}
