*{
  margin: 0;
  padding: 0;
}

.cards-barberos{
  /* display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  padding: 20px;
  grid-gap: 40px; */
  width: 100%;
  height: 100%;
  margin-top: 35em;
  display: flex;
  justify-content: space-around;
}

.cards{
  height: 38rem;
  width: 25em;
  border-radius: 20px;
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  border: 1px solid #1c1b29;
}

.figura{
  height: 60%;
  width: 100%;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

.img_cards{
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.infoBasica{
  height: 42%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info{
  width: 95%;
  color: white;
}

/*identificadores*/

#btn-VerMas{
  width: 5rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 15px;
}

#nombre{
  color: #fefd9f;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

/* .figura:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0 ;
  opacity: 0.6;
}

.card1>.figura:after{
  background-image: linear-gradient(
      135deg,
      #0100ec,
      #fb36f4
  );
} */

/* .card{
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.containerB{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  display:inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.containerB img{
  position: relative;
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.containerB:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
  display: flex;
}
.card1>.containerB:after{
  background-image: linear-gradient(
      135deg,
      #0100ec,
      #fb36f4
  );
}
.card2>.containerB:after{
  background-image: linear-gradient(
      135deg,
      #2bdce3,
      #42ffdb
  );
}
.card3>.containerB:after{
  background-image: linear-gradient(
      135deg,
      #ffab1d,
      #f8501c
  );
}
.details{
  padding: 20px 10px;
}
.details>h3{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
.btnShowB{
  position: absolute;
  bottom:19em;
  right: 8em;
  background-color:#8F0005;
  border-radius:1.5em;
  color:white;
  text-transform:uppercase;
  padding:1em 1.5em;
} */