/*BARBEROS*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
.mainConsultBarber{
    width: 100%;
    height: 65rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

#consultBarber{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url(../../img/barberos.jpg) no-repeat center center;
    background-size:cover;
}

.cardBarberos{
    width: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#cuadroCard{
    width: 24rem;
    height: 40rem;
    background-color: rgba(14, 13, 13, 0.9);
    border-radius: 20px;
}

.sec-cardBarberos{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.sec-busqueda{
    width: 100%;
    height: 2.5em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-Barbero{
    width:80%;
    height: 22rem;
    position:relative;
    z-index: 10;
    top: 3rem;
    border-radius: 30px;
    box-shadow: 0 0 10px 4px #ffd17b;
}

.btn-barbero{
    width: 8rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.479);
    color: #F5F5F5;
    cursor: pointer;
}

.datos{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 5rem;
    z-index: 1;
    color: #F5F5F5;
}

#input-ConsultBarber{
    margin-top: 1.5rem;
}
.nameB{
    font-family: Open Sans;
    font-weight: 300;
	line-height: 1;
}
.nameR{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 1.5rem;
}