/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
    background-color: #111;
    color: #fff;
    padding: 5px 8px 5px 5px;
    border-radius: 10px;
    border: 1px solid #ffd17b;
    /* background: linear-gradient(0deg, #ffd17b 0%, #ffd17b 100%); */
    border: none;
    box-shadow: 0 5px 15px 1px #ffd17b;
    transition: 100ms;
}

.cssbuttons-io-button:hover{
    background-color: #222;
    box-shadow: 0 0 5px 2px #ffd17b;
}

.cssbuttons-io-button:active{
    background-color: #222;
    box-shadow: 0 0 5px 2px #ffd17b inset;
}

.bi-pencil-square{ height: 70%;}

.filaEditar{
    height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cssbuttons-io-button, .editar{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}

/* .categorias{
    color: #fff;
} */

.editar, .form-switch{
    font-size: x-large;
}

.derechaBoton{
    display: flex;
    right: 0;
}

.timeline-sm-item .verCita{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.timeline-sm-item .verCita button{
    background-color: #050505;
    border-radius: 10px;
    height: 3rem;
    width: 5rem;
    border: 1px solid #0d6efd;
    color: #fff;
}

.timeline-sm-item .verCita button:hover{
    box-shadow: 0 0 10px 2px #0d6efd inset;
}