*{
  margin: 0;
  padding: 0;
}
/*clases*/
.cards{
  height: 38rem;
  width: 25em;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  border: 1px solid #1c1b29;
  background: linear-gradient(#333, #222);
  align-items: center;
}

.figura{
  height: 60%;
  width: 100%;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img_cards{
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.infoBasica{
  height: 42%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info{
  width: 95%;
  color: white;
}

/*identificadores*/
#nombre{
  color: #fefd9f;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

/*--------------boton ver mas------------*/
.blur{
  position: absolute;
  z-index: 5;
  height: 38rem;
  width: 25em;
  background-color: rgba(0,0,0,0.65);
  opacity: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-VerMas{
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  
 
}
.btn-VerMas:hover,
.btn-VerMas:focus {
  border-color: white;
  color: #fff;
  /* box-shadow: 
  inset -3.5em 0 white;  */
  box-shadow: inset 5em 1em gold;

}

.blur:hover, .btn-VerMas{
  opacity: 1;
  visibility: visible;
}

.btn-VerMas:hover{
  background-color: white;
  border: 1px solid black;
  color: black
}